nav{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
    .logo{
        height: 40px;
        width: 120px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .nav-items{
        ul{
            list-style-type: none;
            display: flex;
            gap: 20px;
            li{cursor: pointer;}
            li{
                .nav-icons{
                    color: rgb(5, 5, 5);
                }
            }
            li.cart{
                position: relative;
                span{
                    background-color: white;
                    font-size: 10px;
                    padding: 1px 6px;
                    border-radius: 20px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    right: -10px;
                }
            }
        }
    }
}
.onscroll{
    background: rgba(116, 116, 116, 0.55);
    box-shadow: 0 4px 30px rgba(121, 121, 121, 0.7);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    z-index: 44444;
}